<h1>Quotes</h1>

<% @quotes.each do |quote| %>
  <%= simple_format(quote.body) %>
  <p><%= link_to 'View', quote %> | <%= link_to 'Edit', edit_quote_path(quote) %> | <%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <hr>
<% end %>
